@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: PTSerif;
}

body{


    width:100%;
    background: #eef0f3;
    position: relative;
    display: flex;

}

/* Side Menu*/

#menu{
    background: #111827;
    width: 300px;
    height :100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo img{
    width: 40px;
    margin-right: 50px;
}

#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li i{
    color: #b1A296;
    width:30px;
    height:20px;
    text-align:center;
    font-size: 14px;
    margin:0 10px 0 25px ;
}

#menu .items li a{
    text-decoration: none;
    color: #b1A296;
    font-weight: 300;
    transition: 0.3s ease;
}

#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}

#menu .items li:nth-child(1){
    border-left: 4px solid #fff;
}

#menu .items li:hover i,
#menu .items li:hover a{
    color: #f3f4f6;
}

/*Interface*/

#interface{
    width: calc(100% - 300px);
    position: relative;
    margin-left: 300px;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #5d5c61;
    
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe5;
    border-radius: 4px;
}


#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .search i{
    margin-right: 12px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;

    margin-top: 5px;
    
}

.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



/*table*/
.board{
    width:95%;
    margin:30px 0 30px 30px;
    overflow:auto;
    background: #fff;
    border-radius: 8px;
}

.board img{
    width:45px;
    height:45px;
    object-fit:cover;
    border-radius: 50%;
    margin-right: 15px;


}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 15px;
    color:#787d8d;
}

.board .people{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f0fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.active p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn{
    color: #2b2b2b;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    display:none;
}

#canvas{
    width: 100%;
    display: flex;
}

.container{
    width: 90%;
}

@media(max-width:769px){

    #menu{
        width: 270px;
        position:fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    #interface{
        width:100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }

    #interface .navigation{
        width:100%;
        
    }

    .values{
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .board{
        width: 92%;
        padding:0;
        overflow-x: auto;
    }

    .table{
        width:100%;
        border-collapse: collapse;
    }
    
    #menu-btn{
        display: initial;
    }
    #menu.active{
        left:0px;
    }

    #menu.active~ #interface{
        width:calc(100%-270px);
        margin-left: 270px;
        transition:0.3s ease;
    }
    #canvas{
        width: 100%;
    }

    .container{
        width: 90%;
    }
}

@media (max-width:480px) {
    #interface .navigation{
        padding: 15px;
    }

    #interface .navigation .search input{
        width: 150px;

    }

    .i-name{
        padding: 30px 15px 0 15px;
    }

    .values{
        padding: 30px 15px 0 15px;
    }

    .board{
        margin: 30px 15px 30px 15px;
    }

    #canvas{
        width: 100%;
    }

    .container{
        width: 90%;
    }
}

/*cards*/
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
